@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #05F6E7;
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: 'Montserrat', sans-serif;
}
/***************  Navbar Styles  **************/
.logo{
  width: 16.25rem;
}
/****************** Navbar Links *************/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer; 
  font-size: .7rem;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav li a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: .1875rem solid var(--primary-dark);
}

.navbar-nav li a.active, .navbar-nav li a.active:focus{
  border-top: .1875rem solid var(--primary-orange);
}

.navbar-nav li a:hover{
  border-top: .1875rem solid var(--primary-orange);
}